/* *{
    height: 0;
    width: 0;
    box-sizing: border-box;
} */


#main {
    display: grid;
    place-content: center;
    padding: 2rem;
  }
  body {
    background-image: url(./hp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  input {
    height: 2.5rem;
    width: 30rem;
    border-radius: 10px;
    margin-top: 2rem;
  }
  
  figure {
    width: 250px;
    height: 450px;
    overflow: hidden;
    margin: 10px;
    position: relative;
  }
  img {
    width: 250px;
    height: 450px;
    margin: 10px;
    transition: all 0.5s linear;
    /* border: 4px solid #29773E; */
    border-radius: 8px;
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    color: green;
    opacity: 0;
    padding-top: 3rem;
  }
  figure:hover img {
    transform: scale(1.1);
  }
  figcaption p {
    margin-left: 2rem;
  }
  figure:hover figcaption {
    opacity: 1;
    background: rgb(0, 0, 0, 0.9);
    transition: all 1s linear;
  }
  .imageContainer {
    margin-top: 2rem;
    margin-left: 4rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .Container {
    margin-top: 12rem;
    margin-left: 4rem;
  }
  /* input {
    background-color: #29773e;
    font-weight: 700;
  } */
  ::placeholder {
    /* text-transform: uppercase; */
    color: black;
    font-weight: 100;
    font-size: 1.1rem;
  }
  .searchContainer {
    margin-top: 2rem;
    margin-left: 4rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }


.button{
    margin: 2rem;
}